.card-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 31px;
  overflow-x: hidden;
}
.foods-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  /* margin: 50px 11px; */
}

.cart-container{
  margin-top: 41px;
  background-image: linear-gradient(180deg, rgba(201, 201, 201, 0.027), rgba(189, 186, 186, 0.089));
  backdrop-filter: blur(5px);
  border-left: 2px solid rgba(155, 154, 154, 0.1);
  padding: 17px;
  text-align: center;
}

@media screen and (max-width: 590px) {
  .card-container{
      grid-template-columns: repeat(1, 1fr);
      margin-top: 31px;
      overflow-x: hidden;
  }
  .foods-container{
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      margin: 0 auto;
      order: 2;
  }
  .reverse-main{
      order: 1;
  }
  .cart-container{
      position: sticky;
      margin: 0 auto;
      top: 80px;
      border-left: none;
      backdrop-filter: blur(15px);
      width: 100%;
      margin-top: 31px;
  }
}
/* 
@media screen and (min-width: 980px), (max-width: 1190px) {
  .card-container{
      grid-template-columns: repeat(2, 1fr);
  }
  .foods-container{
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      margin: 0 auto;
      order: 2;
  }
  .cart-container{
      position: sticky;
      margin: 0 auto;
      top: 80px;
      border-left: none;
      backdrop-filter: blur(15px);
      width: 85%;
      overflow-x: hidden;
      order: 1;
  }
} */
