.product{
    height: 500px;
    width: 290px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 11px;
    position: relative;
    overflow-x: hidden;
    /* padding: 7px; */
}

.product img{
    width: 260.2px;
    height: 258px;
    border-radius: 11px;
    margin: 7px;
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.product-information{
    margin: 0px 13px;
}

.product-price{
    color: #999999;
}

.product-price:hover{
    color: black;
    font-weight: bolder;
}

.product-information p{
    margin-bottom: 0px;
    margin-top: 7px;
}